<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'post/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'post/favicon.ico' %}"/>

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
{% include "post/header.html" %}
{% include "post/navbar.html" %}

{% block body %}{% endblock %}

</body>
</html>