{% extends "post/base.html" %}
{% block title %}Post - Ćwiczenie{% endblock %}
{% block body %}

{% if exercise %}
<form action="{% url 'post:exercise' exercise.id %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}" method="post">
{% else %}
<form action="{% url 'post:new_exercise' %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}" method="post">
{% endif %}
    {% csrf_token %}
    <label for="training">Trening</label>
    <select id="training" name="training">
        {%for training in training_list %}
            {% if selected_training %}
                <option value="{{training.id}}" {% if selected_training.id == training.id %} selected {%endif%}>{{training.name}}</option>
            {% else %}
                <option value="{{training.id}}" {% if training.id == exercise.training.id %} selected {%endif%}>{{training.name}}</option>
            {% endif %}
        {%endfor%}
    </select>
    <label for="date">Data</label>
    {% if exercise %}
    <input type="date" id="date" name='date' value="{{exercise.date|date:'Y-m-d'}}">
    {% else %}
    <input type="date" id="date" name='date' value="{% now 'Y-m-d'%}">
    {% endif %}
    <label for="time">Czas</label>
    <input type="number" id="time" name="time" value="{% if exercise %}{{exercise.minutes}}{%else%}60{%endif%}">
    <input type="submit">
    <input type="reset">
    {% if exercise %}
    <input type="button" value="Delete" onclick="location.href='{% url 'post:delete_exercise' exercise.id %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}'"/>
    {% endif %}
    <input type="button" value="Back" style="float: right" onclick="history.back()">
</form>
{% endblock %}
