<div class="excercise_panel" align="center">
        <h2>Ćwiczenia</h2>
    {% if exercises %}
        <table class="generictable">
            <tr>
                <th>Ćwiczenie</th>
                <th>Czas</th>
                <th>Energia</th>
            </tr>

            {% for e in exercises %}
            <tr>
                <td><a href="{% url 'post:edit_exercise' e.id %}?ext={{request.path}}">{{e.training.name}}</a><a href="{% url 'post:delete_exercise' e.id%}?next={{request.path}}" style="float:right">[-]</a></td>
                <td>{{e.minutes}}</td>
                <td>{% widthratio e.minutes 60 e.training.calories_per_hour%}</td>
            </tr>
            {% endfor %}
            <tr style="background-color: #aaa;">
                <td>SUMA</td>
                <td>{{exercises_time_sum}}</td>
                <td>{{exercises_energy_sum}}</td>
            </tr>
        </table>
    {% endif %}
    <a href="{% url 'post:new_exercise' %}?next={{request.path}}">Dodaj nowe...</a>
</div>