{% extends "post/base.html" %}
{% block title %}Lista Moich Ćwiczeń{% endblock %}
{% block body%}

<a href="{% url 'post:new_exercise'%}?next={{request.path}}">Nowe Ćwiczenie...</a>
    {% if exercise_list %}
        <table class="generictable">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Długość Treningu</th>
                <th>Spalanych kalorii</th>
            </tr>
            {% for exercise in exercise_list %}
            <tr>
                <td><a href="{% url 'post:exercise' exercise.id%}?next={{request.path}}">{{exercise.id}}</a></td>
                <td>{{exercise.training.name}}</td>
                <td>{{exercise.date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{exercise.minutes}}</td>
                <td>{% widthratio exercise.minutes 60 exercise.training.calories_per_hour%}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nie znaleziono żadnych treningów.</p>
    {% endif %}

{% endblock %}