{% if favourite_foods %}
<div align="center">
    <h3>Twoje Ulubione</h3>
    <table>
        {% for f in favourite_foods %}
            <tr>
                <td><a href="{% url 'post:new_meal' %}?food={{f.food.id}}&next={{request.path}}">[+]</a></td>
                <td>{{f.food.food_name}}</td>
                <td>{{f.total}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}