{% extends "post/base.html" %}
{% block title %}Lista Dań{% endblock %}
{% block body%}

<form method="get" action="" id="searchform">
    <input type="text" id="searchbox" name="q" value="{{request.GET.q}}" placeholder="Szukaj..."/>
    <select name="order">
        <option value="-popularity">Popularność</option>
        <option value="-food_name">Nazwa (Malej.)</option>
        <option value="food_name">Nazwa (Rosn.)</option>
        <option value="-energy">Energia (Malej.)</option>
        <option value="energy">Energia (Rosn.)</option>
    </select>
    
    <select name="type_filter">
        <option value="-1">Wszystkie</option>
        {%for type in food_type %}
            <option value="{{type.id}}" {% if type.id == request.GET.type_filter|add:"0" %} selected {% endif %}>{{type.food_type_name}}</option>
        {%endfor%}
    </select>
    <input type="submit"/>
</form>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
         <span class="prev" style="float:left">
            <a href="?{%if request.GET.q %}q={{request.GET.q}}&{%endif%}page=1">&laquo; first</a>
            <a href="?{%if request.GET.q %}q={{request.GET.q}}&{%endif%}page={{ page_obj.previous_page_number }}">previous</a>
         </span>
        {% endif %}
        <span class="current" style="float:left">
            <form method="get" action="?">
                Page <input type="number" name="page" value="{{ page_obj.number }}" style="width: 4em"> of {{ page_obj.paginator.num_pages }}.
            </form>
        </span>
        {% if page_obj.has_next %}
         <span class="next" style="float:left">
            <a href="?{%if request.GET.q %}q={{request.GET.q}}&{%endif%}page={{ page_obj.next_page_number }}">next</a>
            <a href="?{%if request.GET.q %}q={{request.GET.q}}&{%endif%}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
         </span>
        {% endif %}
    </span>
</div>

{%if food_list%}
<table class="mealtable">
    <tr>
        <th>Nazwa</th>
        <th>Rodzaj</th>
        <th>Energia</th>
        <th>Tłuszcz</th>
        <th>w tym nasycone</th>
        <th>Węglowodany</th>
        <th>w tym cukry</th>
        <th>Białko</th>
        <th>Sól</th>
        <th>Waga 1 porcji</th>
        <th>Popularność</th>
        <th>Posiłek</th>
    </tr>
    {% for food in food_list %}
    <tr>
        <td><a href="{% url 'post:food' food.id %}">{{food.food_name}}</a></td>
        <td>{{food.food_type.food_type_name}}</td>
        <td>{{food.energy}}</td>
        <td>{{food.fat}}</td>
        <td>{{food.saturated}}</td>
        <td>{{food.carb}}</td>
        <td>{{food.sugar}}</td>
        <td>{{food.protein}}</td>
        <td>{{food.salt}}</td>
        <td>{{food.def_weight}}</td>
        <td>{{food.popularity}}</td>
        <td><a href="{% url 'post:new_meal'%}?food={{food.id}}">[+]</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nie ma dań do wyświetlenia!</p>
{% endif %}

{% endblock %}