{% extends "post/base.html" %}
{% block title %}Danie{% endblock %}
{% block body%}
    <style>
        form {
            border-radius: 10px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        input[type=text],
        input[type=number],
        select {
            width: 100%;
        }

        input[type=submit],
        input[type=reset] {}

    </style>


{% if food %}
<form action="{% url 'post:edit_food' food.id %}" method="post">
    {% else %}
    <form action="{% url 'post:new_food' %}" method="post">
        {% endif %}
        {% csrf_token %}
        <label for="fname">Nazwa</label>
        <input type="text" id="fname" name="fname" value="{{food.food_name}}">
        <label for="ftype">Rodzaj</label>
        <select id="ftype" name="ftype">
            {%for type in food_type %}
            <option value="{{type.id}}" {% if type.id == food.food_type.id %} selected {% endif %}>{{type.food_type_name}}</option>
            {%endfor%}
        </select>
        <label for="fenergy">Energia</label>
        <input type="number" id="fenergy" name="fenergy" value="{{food.energy}}" min="0">
        <label for="ffat">Tłuszcz</label>
        <input type="number" id="ffat" name="ffat" value="{{food.fat}}" min="0" step="0.1">
        <label for="fsaturated">Kwasy tłuszczowe nasycone</label>
        <input type="number" id="fsaturated" name="fsaturated" value="{{food.saturated}}" min="0" step="0.1">
        <label for="fcarb">Węglowodany</label>
        <input type="number" id="fcarb" name="fcarb" value="{{food.carb}}" min="0" step="0.1">
        <label for="fsugar">Cukry</label>
        <input type="number" id="fsugar" name="fsugar" value="{{food.sugar}}" min="0" step="0.1">
        <label for="fprotein">Białko</label>
        <input type="number" id="fprotein" name="fprotein" value="{{food.protein}}" min="0" step="0.1">
        <label for="fsalt">Sól</label>
        <input type="number" id="fsalt" name="fsalt" value="{{food.salt}}" min="0" step="0.01">
        <label for="fdef_weight">Waga jednej porcji</label>
        <input type="number" id="fdef_weight" name="fdef_weight" value="{{food.def_weight}}" min="0" step="0.1">
        <input type="submit">
        <input type="reset">
        <input type="button" value="Back" style="float: right" onclick="history.back()">
    </form>

{% endblock %}