{% extends "post/base.html" %}
{% block title %}Post - Strona Główna{% endblock %}
{% block body%}

<div class="row">
    <div class="column side">
        <h2>Waga</h2>
        <form action="{% url 'post:weight'%}?next={{request.path}}" method="post">
            {% csrf_token %}
            <input type="number" step="0.1" min="30" name="weight" placeholder="Waga..." value="{{weight}}">
            <input type="submit">
        </form>


        {% include "post/goals.html" %}
        {% include "post/exercise_stats.html" %}
    </div>
    <div class="column middle">
        <h2>
            <a href="{% url 'post:index' %}?date={{ previous_day |date:"Y-m-d"}}">←</a>
            {{current_day|date:"j E Y"}}
            <a href="{% url 'post:index' %}?date={{ next_day |date:"Y-m-d"}}">→</a>
        </h2>
        <form method="GET">
            <input type="date" name="date" value="{{current_day|date:"Y-m-d"}}">
            <input type="submit">
        </form>
        <h3>Dzisiejsze Posiłki</h3>
        <table class='mealtable'>
            <! HEADERS >
            <tr>
                <th>Posiłek</th>
                <th>Kalorie</th>
            </tr>
            {% for meal in meals %}
            <tr>
                <td><a href="{% url 'post:meal' meal.id %}?next={{request.path}}">{{meal.food.food_name}}</a> [<a href="{% url 'post:delete_meal' meal.id %}?next={{request.path}}">-</a>]</td>
                <td>{{meal.calories}}</td>
            </tr>
            {% endfor %}
            {% for i in fill%}
            <tr>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr style="background-color: #ccc;">
                <td>SUMA</td>
                {% if limits and sum > limits.energy %}
                    <td style="background-color:#f18973">{{sum}}</td>
                {% else %}
                    <td>{{sum}}</td>
                {% endif %}
            </tr>
        </table>
        <a href="{% url 'post:new_meal'%}?next={{request.path}}&date={{ current_day |date:"Y-m-d"}}">Dodaj posiłek...</a>
    </div>
    <div class="column side">
        <div>
            <h2>Statystyki</h2>
            {% for k,v in stats.items %}
                {% if limits %}
                    {% if v > limits|get_item:k %}
                        {{k}} : <span style="background-color:#f18973">{{v}}</span>
                    {% else %}
                        {{k}} : <span style="background-color:#d5f4e6">{{v}}</span>
                    {% endif %}
                   <br>
                {% else %}
                    {{k}} : {{v}}<br>
                {% endif %}
            {% endfor %}
        </div>
        {% include "post/favourite_foods.html" %}
        {% include "post/popular_foods.html" %}
    </div>
</div>

{% endblock %}
