<!DOCTYPE html>
<html lang="en">
<style>

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit], input[type=reset] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

</style>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'post/favicon.ico' %}"/>
    <title>Login Page</title>
</head>

<body>
    <div>
        <form action="{% url 'post:login' %}" method="POST">
            {% csrf_token %}
            <label for='uname'>Username</label>
            <input id='uname' name="username" type="text" placeholder="Username...">
            <label for='pwd'>Password</label>
            <input id="pwd" name="password" type="password" placeholder="Password...">
            <input name="Login" value="Submit" type="submit">
            <input type="reset" value="Reset">
        </form>
    </div>
</body>

</html>
