{% extends "post/base.html" %}
{% block title %}Lista Posiłków{% endblock %}
{% block body%}

<a href="{% url 'post:new_meal' %}">Nowy Posiłek...</a>
{%if meal_list%}
<table class="mealtable">
    <tr>
        <th>ID</th>
        <th>Danie</th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Waga</th>
        <th>Kalorie</th>
    </tr>
    {% for meal in meal_list %}
    <tr>
        <td>{{meal.id}}</td>
        <td><a href="{% url 'post:meal' meal.id %}">{{meal.food.food_name}}</a></td>
        <td>{{meal.date|date:"d M Y"}}</td>
        <td>{{meal.date|date:"H:i"}}</td>
        <td>{{meal.weight}}</td>
        <td>{% widthratio meal.weight 100 meal.food.energy %}</td>
    </tr>

    {% endfor %}
</table>
{% else %}
<p>Nie ma dań do wyświetlenia!</p>
{% endif %}
{% endblock %}