{% extends "post/base.html" %}
{% block title %}Posiłek{% endblock %}
{% block body%}

    <script>
        function enablePortions() {
            document.getElementById("mportions").disabled = false;
            document.getElementById("mweight").disabled = true;
        }

        function disablePortions() {
            document.getElementById("mportions").disabled = true;
            document.getElementById("mweight").disabled = false;
        }

    </script>
    <style>
        form {
            border-radius: 10px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        input[type=text],
        input[type=number],
        select {
            width: 100%;
        }

        input[type=submit],
        input[type=reset] {}

    </style>
    <style>
        input[type=radio] {
            width: auto;
            text-align: center;
        }

    </style>

{% if meal %}
<form action="{% url 'post:meal' meal.id %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}" method="post">
    {% else %}
    <form action="{% url 'post:new_meal' %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}" method="post">
        {% endif %}
        {% csrf_token %}
        <label for="mfood">Danie</label>
        <select id="mfood" name="mfood">
            {%for food in food_list %}
                {% if selected_food %}
                    <option value="{{food.id}}" {% if selected_food.id == food.id %} selected {%endif%}>{{food.food_name}}</option>
                {% else %}
                    <option value="{{food.id}}" {% if food.id == meal.food.id %} selected {%endif%}>{{food.food_name}}</option>
                {% endif %}
            {%endfor%}
        </select>
        <label for="mdate">Data</label>
        {% if meal %}
        <input type="date" id="mdate" name="mdate" value="{{meal.date|date:'Y-m-d'}}">
        {% else %}
        <input type="date" id="mdate" name="mdate" value="{{date}}">
        {% endif %}
        <div style="text-align: center">
            <input type="radio" name="weightchoice" id="wcweight" value="0" onclick="disablePortions()" {% if meal %} checked {% endif %}>
            <label for="wcweight">Waga</label>
            <input type="radio" name="weightchoice" id="wcportions" value="1" onclick="enablePortions()" {% if not meal %} checked {% endif %}>
            <label for="wcportions">Porcje</label>
        </div>
        <label for="mweight">Waga</label>
        <input type="number" id="mweight" name="mweight" value={% if meal %}{{meal.weight}}{%else%}100{%endif%} {% if not meal %} disabled {% endif %}>
        <label for="mportions">Porcje</label>
        <input type="number" id="mportions" name="mportions" value=1 {% if meal %} disabled {% endif %}>
        <input type="submit">
        <input type="reset">
        {% if meal %}
        <input type="button" value="Delete" onclick="location.href='{% url 'post:delete_meal' meal.id %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}'"/>
        {% endif %}
        <input type="button" value="Back" style="float: right" onclick="history.back()">
    </form>


{% comment %}
{% if meal %}

{% else %}
<script>
    var d = new Date(), month = '' + (d.getMonth() + 1), day = '' + d.getDate(), year = d.getFullYear();
    if(month.length < 2)
        month = '0' + month;
    if(day.length < 2)
        day = '0' + day;
    document.getElementById("mdate").value = [year,month,day].join('-')
</script>
{% endif %}
{% endcomment %}


{% endblock %}
