<div class="topnav">
    <a href="{% url 'post:index' %}">Główna</a>
    <a href="{% url 'post:food_list' %}">Dania</a>
    <a href="{% url 'post:meal_list' %}">Moje Posiłki</a>
    <a href="{% url 'post:training_list' %}">Trening</a>
    <a href="{% url 'post:exercise_list' %}">Ćwiczenia</a>
    <a href="{% url 'post:stats' %}">Statystyki</a>
    {%if request.user.is_authenticated %}
    <a href="{% url 'post:logout' %}" style="float:right">Wyloguj</a>
    {%endif%}
    <a href="{% url 'post:new_food' %}?next={{request.path}}" style="float:right">Nowe Danie</a>
    <a href="{% url 'post:new_meal' %}?next={{request.path}}" style="float:right">Nowy Posiłek</a>
</div>