{% if popular_foods %}
<div align="center">
    <h3>Popularne</h3>
    <table>
        {% for f in popular_foods %}
            <tr>
                <td><a href="{% url 'post:new_meal' %}?food={{f.id}}&next={{request.path}}">[+]</a></td>
                <td>{{f.food_name}}</td>
                <td>{{f.popularity}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}