{% extends "post/base.html" %}
{% block title %}Statystyki dla {{start_date}} - {{end_date}}{% endblock %}
{% block body %}

<form method="get">
    <input type="date" name="start_date" value="{{start_date|date:'Y-m-d'}}">
    <input type="date" name="end_date" value="{{end_date|date:'Y-m-d'}}">
    <input type="submit">
</form>

<img src="{% url 'post:weight_graph'%}?start_date={{start_date|date:'Y-m-d'}}&end_date={{end_date|date:'Y-m-d'}}"/>
<img src="{% url 'post:calorie_graph'%}?start_date={{start_date|date:'Y-m-d'}}&end_date={{end_date|date:'Y-m-d'}}"/>
<img src="{% url 'post:nutrition_graph'%}?start_date={{start_date|date:'Y-m-d'}}&end_date={{end_date|date:'Y-m-d'}}"/>

{% endblock %}