{% extends "post/base.html" %}
{% block title %}Post - Trening{% endblock %}
{% block body %}

{% if training %}
<form action="{% url 'post:training' training.id %}" method="post">
{% else %}
<form action="{% url 'post:new_training' %}" method="post">
{% endif %}
    {% csrf_token %}
    <label for="name">Nazwa</label>
    <input type="text" id="name" name="name" value="{% if training %}{{training.name}}{%endif%}" placeholder="Nazwa...">

    <label for="calories">Kalorie na godzinę</label>
    <input type="number" id="calories" name="calories" value="{% if training %}{{training.calories_per_hour}}{%endif%}">
    <input type="submit">
    <input type="reset">
    <input type="button" value="Back" style="float: right" onclick="history.back()">
</form>

{% endblock %}