{% extends "post/base.html" %}
{% block title %}Lista Treningów{% endblock %}
{% block body%}
<a href="{% url 'post:new_training'%}">Nowy Trening...</a>
    {% if training_list %}
        <table class="generictable">
            <tr>
                <th>Nazwa</th>
                <th>Spalanych kalorii na godzinę</th>
                <th>Nowe Ćwiczenie</th>
            </tr>
            {% for training in training_list %}
            <tr>
                <td><a href="{% url 'post:training' training.id%}">{{training.name}}</a></td>
                <td>{{training.calories_per_hour}}</td>
                <td><a href="{% url 'post:new_exercise'%}?t_id={{training.id}}">[+]</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nie znaleziono żadnych treningów.</p>
    {% endif %}

{% endblock %}