.header {
	text-align: center;
	padding: 20px;
}

/* The navbar containter */
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover{
	background-color: #ddd;
	color:black;
}

/* Create three equal columns that float next to each other */
.column {
	float:left;
	text-align: center;
}
.column.side {
	width:25%;
}
.column.middle {
	width: 50%;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}

@media screen and (max-width:600px){
	.column.side, .column.middle {
		width:100%;
	}
}

.mealtable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.mealtable td, .mealtable th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 20px;
}

.mealtable tr:nth-child(even){background-color: #f2f2f2;}

.mealtable tr:hover {background-color: #ddd;}

.mealtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.generictable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.generictable td, .generictable th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 20px;
}

.generictable tr:nth-child(even){background-color: #f2f2f2;}

.generictable tr:hover {background-color: #ddd;}

.generictable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}